@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #5E2075;
}

h1 {
  font-size: 4.8rem;
  font-weight: 900;
}

h2 {
  font-size: 4.8rem;
  font-weight: 400;
}

p {
  font-size: 2.0rem;
  font-weight: 400;
}

label {
  font-size: 2rem;
  font-weight: 400;
}

input {
  width: 100%;
  height: 6rem;
  box-sizing: border-box;
  border-radius: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(239, 239, 239, 1);
  padding-inline: 13px;
}

input::placeholder {
  color: #5E2075;
}

select {
  width: 14.5rem;
  height: 5rem;
  border-radius: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(239, 239, 239, 1);
  color: #5E2075;
  padding: 1.3rem;
}

button {
  width: 250px;
  height: 50px;
  border-radius: 35px;
  background-color: #5E2075;
  color: #FEFCFF;
}

.loginPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.loginBranca {
  width: 55vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.squareLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoLateral {
  width: 34.2rem;
  padding-top: 5%;
  padding-bottom: 8%;
}

.inputLogin {
  padding-bottom: 4rem;
  width: 80%;
}

#icon {
  background-image: url(./imgs/show.png);
  background-size: cover;
  position: relative;
  float: right;
  bottom: 4.5rem;
  margin-right: 5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#iconHide{
  background-image: url(./imgs/hide.png);
  background-size: cover;
  position: relative;
  float: right;
  bottom: 4rem;
  margin-right: 5%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.titleLogin {
  width: 100%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
}

.folderRegistro {
  width: 45vw;
  height: 100vh;
  background: linear-gradient(180deg, #75206C 44.69%, #FE690E 100%);
  color: #FEFCFF;
}

.buttonLogin {
  width: 30rem;
  height: 6.5rem;
  font-size: 2.0rem;
}

.buttonLogin2 {
  background-color: #FE690E;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.escritaFolder {
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleFolder {
  display: flex;
  justify-content: center;
}

.textFolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 41.6rem;
  height: 16.8rem;
  padding-top: 15%;
}

.buttonFolder {
  padding-top: 15%;
}

.registroPage {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.registroBranca {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;
}

.formRegistro {
  padding-top: 7%;
}

.inputRegistro {
  padding-bottom: 30%;
  width: 35rem;
  height: 7.6rem;

}

.selectRegistro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35rem;
  height: 7.6rem;
  padding-bottom: 30%;
}

.conta {
  padding-top: 2%;
  font-size: 1.9rem;
}

#inputImage {
  display: none;
}

#inputImageTrue {
  width: 20rem;
  height: 5rem;
  padding-top: 1rem;
  margin-left: 1rem;
  display: block;
  border-radius: 35px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(239, 239, 239, 1);
  text-align: center;
  cursor: pointer;
}

.squareLogo {
  width: 55vw;
  height: 100vh;
  background: linear-gradient(180deg, #75206C 44.69%, #FE690E 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FEFCFF;
  padding-top: 15%;
}

.logoEmakers {
  width: 40%;
  padding-bottom: 10%;
}

.textSlogan {
  width: 57.1rem;
  height: 11.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#redeSocialText {
  margin-top: -4%;
}

.perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topPerfil {
  background-image: url(./imgs/ImageTop.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vw;
  min-height: 250px;
}

.logoLateralBranca {
  position: absolute;
  width: 50%;
  max-width: 439px;
  min-width: 322px;
  left: -60px;
}

.menuPerfil {
  display: flex;
  flex-direction: row;
  align-items: end;
  position: absolute;
  top: 2%;
  right: 40px;
}

.buttonsPerfil {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
}

#butaoPesquisa {
  background-image: url(./imgs/Lupa.png);
  background-repeat: no-repeat;
  background-position: center;
}

#butaoAmigos {
  background-image: url(./imgs/Amigos.png);
  background-repeat: no-repeat;
  background-position: center;
}

#butaoEu {
  background-image: url(./imgs/FotoPerfill.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#butaoCompacto {
  display: none;
}

.mainPerfil {
  border-top: 4px solid #FE690E;
  width: 100vw;
  height: 730px;
}

.perfilLayout {
  display: flex;
  flex-direction: row;
}

.fotoPerfil {
  border-radius: 50%;
  border: 1px solid rgba(254, 105, 14, 1);
  width: 27.5rem;
  min-width: 180px;
  height: 27.5rem;
  min-height: 180px;
  position: relative;
  top: -13rem;
  left: 10rem;
}

.dadosPerfil {
  color: #1e1e1e;
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  justify-content: center;
}

.bioPerfil {
  width: 80%;
  max-width: 405px;
  height: 145px;
  position: relative;
  left: 30px;
}

#nomePerfil {
  font-weight: 300;
  line-height: 58px;
  position: relative;
  padding-bottom: 10px;
}

.imagesPerfil {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 5%;
  padding-inline: 5%;
  padding-top: 3%;
  padding-bottom: 10%;
  border-top: 4px dashed #FE690E;
}

.imgPerfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (max-width:1050px){
  .textSlogan {
    text-align: center;
    width: 90%;
  }
}

@media (max-width: 930px){
  #textoFolder {
    font-size: 4rem;
  }

  .textFolder {
    padding-left: 20px;
  }
}

@media (max-width: 850px) {
  html {
    font-size: 50%;
  }

  .loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .loginBranca {
    width: 100vw;
    height: 100%;
    padding-bottom: 7%;
  }

  .logoLateral{
    padding-bottom: 5%;
  }

  .folderRegistro {
    width: 100vw;
    height: 100vh;
  }

  .textFolder {
    padding-left: 0px;
  }

  .registroPage {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  .registroBranca {
    width: 100vw;
    padding-bottom: 8rem;
  }

  .squareLogo {
    width: 100vw;
    height: 100%;
    order: -1;
  }

  .textSlogan {
    display: none;
  }

  .logoEmakers {
    width: 35%;
    margin-top: -8%;
  }

  select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  #inputImage {
    width: 100%;
    height: 5rem;
  }

  .selectRegistro {
    flex-direction: column;
    min-height: 20rem;
  }

  #inputImageTrue {
    width: 34rem;
  }

  .perfilLayout {
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
  }

  .fotoPerfil {
    left: auto;
  }

  .dadosPerfil {
    padding-left: 0;
    margin-top: -13rem;
  }

  .buttonsP {
    display: none;
  }

  #butaoCompacto {
    display: flex;
    background-color: rgba(10, 23, 55, 0);
    background-image: url(./imgs/menu.png);
    background-position: center;
    border: 0;
  }

  #textoFolder {
    font-size: 4.8rem;
  }

  #icon, #iconHide {
    bottom: 5rem;
  }  
}

@media (max-width: 426px) {
  html {
    font-size: 40%;
  }

  h1 {
    font-size: 4.5rem;
  }

  .folderRegistro{
    height: 90vw;
  }

  .imagesPerfil {
    padding-bottom: 100px;
  }

  #icon, #iconHide {
    bottom: 5.5rem;
  } 
}

@media (max-width: 376px) {
  html {
    font-size: 35%;
  }

  #nomePerfil {
    padding-left: 8px;
  }

  #icon, #iconHide {
    bottom: 5.8rem;
  } 
}

@media (max-width: 321px) {
  h1 {
    font-size: 4rem;
  }
}